/* Fonts */
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/Heebo-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Heebo';
  src: url(./fonts/Heebo-Regular.ttf) format('truetype');
  font-weight: 500;
}

body {
  background-color: #262726;
  margin: 0;
  font-family: 'Heebo', 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
